.theme-dark {
  --text-positive: #86c350;
  --background-tertiary: #151515; 
  --background-secondary: #1f1f1f;
  --background-secondary-alt: #1a1a1a; 
  --interactive-normal: #bcbcbc; 
}
.theme-light {
  --text-positive: #74a944;
}
/* background */
:root {
  
  
}
